# Training/runtime logs
logs/
log/
*.log

# Build metadata
*.egg-info/
instinct_mj.egg-info/

.github/
.venv/
venv/
.vscode/
.pytest_cache/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# command
COMMAND.md

.ipynb_checkpoints/